<form>
   
   <div class="Search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input class= "search-input" type="search" placeholder="Nombre del jugador...">
      <i class="fa-solid fa-plus"></i>
   </div>   


</form>

<nav>

    <ul class="menu-horizontal">
        <i class="fa-solid fa-bars"></i>
        <ul><a> Categorías</a>
            <ul class="menu-vertical">
                <li><a>Primer Equipo</a></li>
                <li><a>Segundo Equipo</a></li>
                <li><a>Juvenil A</a></li>
                <li><a>Juvenil B</a></li>
                <li><a>Juvenil C</a></li>
                <li><a>Cadete A</a></li>
                <li><a>Cadete B</a></li>
                <li><a>Cadete C</a></li>
                <li><a>Infantil A</a></li>
                <li><a>Infantil B</a></li>
                <li><a>Infantil C</a></li>
                <li><a>Alevin</a></li>
            </ul>
        </ul>
    </ul>
</nav>
