<!DOCTYPE html>

<html>
<head>
   <title>Searchbar</title>

   <link rel="stylesheet" type="text/css" href="searchbar.component.css">


   <script src="https://kit.fontawesome.com/10e8631ae2.js" crossorigin="anonymous"></script>

  
</head>
<body>
<form>
     <script src="https://kit.fontawesome.com/10e8631ae2.js" crossorigin="anonymous"></script>
   
   <div class="Search">
                <div id="box1">   

                    <i class="fa-solid fa-magnifying-glass"></i>
                </div> 
        <input class= "search-input" type="search" placeholder="Nombre del jugador...">
                <div id="box2">
                    <i class="fa-solid fa-plus"></i>
                </div>    

   </div>   


</form>

<nav>

    <ul class="menu-horizontal">
        <div id="box3">
            <i class="fa-solid fa-bars"></i>
        </div>    
                <ul><a> Categorías</a>
                    <ul class="menu-vertical">
                        <li><a>Primer Equipo</a></li>
                        <li><a>Segundo Equipo</a></li>
                        <li><a>Juvenil A</a></li>
                        <li><a>Juvenil B</a></li>
                        <li><a>Juvenil C</a></li>
                        <li><a>Cadete A</a></li>
                        <li><a>Cadete B</a></li>
                        <li><a>Cadete C</a></li>
                        <li><a>Infantil A</a></li>
                        <li><a>Infantil B</a></li>
                        <li><a>Infantil C</a></li>
                        <li><a>Alevin</a></li>
                    </ul>
                </ul>
    </ul>
</nav>
