<!DOCTYPE html>

<html>
<head>
   <title>Searchbar</title>

   <link rel="stylesheet" type="text/css" href="searchbar.component.css">

   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search"/>
 
</head>
<body>
<form>
   
   <div class="Search">
      <span class="material-symbols-outlined"> search</span>
      <input class= "search-input" type="search" placeholder="Nombre del jugador...">
   </div>   


</form>

<nav>
    
    <ul class="menu-horizontal">
        <ul><a>Categorías</a>
            <ul class="menu-vertical">
                <li><a>Primer Equipo</a></li>
                <li><a>Segundo Equipo</a></li>
                <li><a>Juvenil A</a></li>
                <li><a>Juevenil B</a></li>
                <li><a>Juvenil C</a></li>
                <li><a>Cadete A</a></li>
                <li><a>Cadete B</a></li>
                <li><a>Cadete C</a></li>
                <li><a>Infantil A</a></li>
                <li><a>Infantil B</a></li>
                <li><a>Infantil C</a></li>
                <li><a>Alevin</a></li>
            </ul>
        </ul>
    </ul>
</nav>



</body>
</html>