.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* Creates 3 equal columns */
    gap: 5vh;  /* Adds space between the cards */
    padding: 5px;
  }
  
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  