.navbarstyle {
  background-color: lightgray;
  height: max-content;
  width: max(100vw);
  list-style: none;
  padding: 0; /* Elimina el padding de la lista */
  margin: 0; /* Elimina el margen de la lista */
}

.text {
  display: flex;
  justify-content: space-around; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Centra los elementos verticalmente */
  width: 100%; /* Ocupa todo el ancho del navbar */
  color: black;
}

.text li {
  font-size: 24px; /* Tama침o de la fuente */
  font-family: GlacialFont, sans-serif;
  padding: 1rem; /* Espaciado alrededor del texto */
  transition: color 0.3s ease; /* Transici칩n suave para el color */
  margin-right: 45px;
  margin-left: 45px;
}

a{
  text-decoration: none;
  color: black;

}

a:hover {
  color: gray; /* Cambia el color al pasar el rat칩n por encima */
  transition: 0.3s;
}
.center {
  flex-grow: 1; /* Permite que "Nuestro Club" ocupe m치s espacio */
  text-align: center; /* Alinea el texto en el centro */
}

