<div class="card" #card (click)="toggleCardSize()">
  <div class="card-inner">
    <div class="card-front">
      <img class="image" [src]="playerData.image" [alt]="playerData.name + ' Card'">
    </div>
    <div class="card-back">
      <app-detail [name]="playerData.name" [ppg]="playerData.ppg" [rpg]="playerData.rpg" [apg]="playerData.apg" 
      [height]="playerData.height" [weight]="playerData.weight"  [age]="playerData.age" ></app-detail>
      <button class="button">MEJORES JUGADAS</button>
    </div>
  </div>
</div>
