.modal {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.video-container {
    position: relative;
    padding-bottom: 45%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #000;
    border-radius: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button {
    float: right;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #6c81f8;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #004691;
}