<div class="card" #card (click)="toggleCardSize()">
  <div class="card-inner">
    <div class="card-front">
      <img class="image" src="Players/playerCard1.webp" alt="Kevin Durant Card">
    </div>
    <div class="card-back">
      <h6>STATS</h6>
      <p class="stats">PPG: 35.3</p>
      <p class="stats">APG: 7.1</p>
      <p class="stats">RPG: 2.3</p>
    
      <h6>PROFILE</h6>
      <p class="profile">ALTURA: 211 CM</p>
      <p class="profile">PESO: 110 KG</p>
      <p class="profile">EDAD: 36 A</p>
      <button class="button">MEJORES JUGADAS</button>
      <h6>35|Kevin Durant|SG</h6>
    </div>
  </div>
</div>
